.appointment {
    text-align: center;
}

.table1 {
    margin: 0 48px;
    margin-bottom: 50px;
}

.container_group {
    margin: 0 20px;
}

.provider_details {
    list-style: none;
}

.provider_details li {
    margin-bottom: 10px;
}

.provider_details .provider_head {
    text-decoration: underline;
}

@media screen and (max-width:550px) {
    .input_group {
        flex-direction: column;
        align-items: center;
    }

    .search_input {
        width: 100%;
    }

    .table1 {
        margin: 0 24px;

    }



}