.appoinment{
    text-align: center;
}

.table1{
    margin: 0 48px;
    margin-bottom: 50px;
}

@media screen and (max-width:550px) {
    .input_group{
        flex-direction: column;
        align-items: center;
    }
    .table1{
        margin: 0 24px;

    }

 
    
}

