
.reviewlist{
    list-style: none;
    background-color: rgb(251, 251, 251);
    padding: 10px 20px;
}
.reviewcontainer{
    margin: 20px 100px;
}
.headings{
    color: rgb(39, 103, 141)
}
@media screen and (max-width:800px) {
    .reviewcontainer{
        margin: 20px 20px;
    }
}